<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dhmall.auction.mapper.AuctionMapper">
    <insert id="insertChatMessage" parameterType="com.dhmall.auction.dto.ChatMessageDto">
        INSERT INTO chat_messages(id, room_id, user_id, nickname, message, created_at, updated_at)
        VALUES(NULL, #{roomId}, #{userId}, #{nickname}, #{message}, #{createdAt}, #{updatedAt})
    </insert>

    <select id="selectAllChatRooms" resultType="com.dhmall.auction.dto.ChatRoomDto">
        SELECT * FROM chat_rooms
    </select>
</mapper>